<section class="exercises section">
   <div class="container exercises-container">
      <div class="exercises-wrapper">
         <h2 class="exercises-title">Exercises</h2>
         <ul class="exercises-filter-list">
            <li class="exercises-filter-item">
               <button class="exercises-filter-btn btn-active">Muscles</button>
            </li>
            <li class="exercises-filter-item">
               <button class="exercises-filter-btn">Body parts</button>
            </li>
            <li class="exercises-filter-item">
               <button class="exercises-filter-btn">Equipment</button>
            </li>
         </ul>
         <ul class="exercises-types-list">
            <li class="exercises-types-item">
               <h3 class="exercises-types-title">Abductors</h3>
               <p class="exercises-types-name">Muscles</p>
            </li>
            <li class="exercises-types-item"></li>
            <li class="exercises-types-item"></li>
            <li class="exercises-types-item"></li>
            <li class="exercises-types-item"></li>
            <li class="exercises-types-item"></li>
            <li class="exercises-types-item"></li>
            <li class="exercises-types-item"></li>
            <li class="exercises-types-item"></li>
            <li class="exercises-types-item"></li>
            <li class="exercises-types-item"></li>
            <li class="exercises-types-item"></li>

         </ul>
         <div class="exercises-types-page">

         </div>
      </div>
   </div>

</section>