<section class="hero section">
   <div class="container hero-container">
      <div class="hero-img">
         <ul class="hero-teg-list">
            <li class="hero-teg-item">
               <a href="" class="hero-teg-link">#Sport</a>
            </li>
            <li class="hero-teg-item">
               <a href="" class="hero-teg-link">#Healthy</a>
            </li>
            <li class="hero-teg-item">
               <a href="" class="hero-teg-link">#Workout</a>
            </li>
            <li class="hero-teg-item">
               <a href="" class="hero-teg-link">#Diet</a>
            </li>
         </ul>
      </div>
      <div class="hero-descr">
         <h1 class="hero-title">Get <span class="hero-title-color">Body</span> in shape, Stay healthy
         </h1>
         <p class="hero-text">Transform your physiqu e and embrace a healthier lifestyle with our comprehensive fitness
            and nutrition support.</p>
      </div>

   </div>
</section>