<div class="info-quote">
   <h2 class="info-quote-title">Quote of the day</h2>
   <p class="js-quote-text info-quote-cont"></p>
   <p class="js-quote-author info-quote-author"></p>
   <div class="info-icon-wrap">
      <svg class="info-icon-item" width="18" height="20">
         <use href="./img/sprite.svg#icon-running-men"></use>
      </svg>
   </div>
   <div class="info-marks-wrap">
      <svg class="info-marks-item">
         <use href="./img/sprite.svg#icon-inverted-commas"></use>
      </svg>
   </div>
</div>