/* -------------info-quote------------- */

.info-quote {
  position: relative;
  height: 272px;
  border-radius: 30px;
  background-color: #7e847f;
}

@media screen and (min-width: 768px) {
  .info-quote {
    width: 736px;
    height: 302px;
    border-radius: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .info-quote {
    width: 704px;
    height: 302px;
  }
}

.info-quote {
  padding: 42px 20px 40px 66px;
}

@media screen and (min-width: 768px) {
  .info-quote {
    padding: 64px 80px 64px 130px;
  }
}

@media screen and (min-width: 1440px) {
  .info-quote {
    padding: 64px 64px 64px 114px;
  }
}

.info-quote-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: #f6f6f6;

  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .info-quote-title {
    font-size: 24px;
    line-height: 1.33;

    margin-bottom: 16px;
  }
}

.info-quote-cont {
  font-size: 14px;
  line-height: 1.29;
  color: rgba(246, 246, 246, 0.6);

  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .info-quote-cont {
    font-size: 16px;
    line-height: 1.5;

    margin-bottom: 25px;
  }
}

.info-quote-author {
  font-weight: 500;
  line-height: 1.5;
  color: #f6f6f6;
}

/* -------------info-icon------------- */

.info-icon-wrap {
  position: absolute;
  top: 40px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  background-color: rgba(246, 246, 246, 0.1);
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .info-icon-wrap {
    top: 64px;
    left: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .info-icon-wrap {
    top: 64px;
    left: 64px;
  }
}

.info-icon-item {
}

.info-marks-wrap {
  position: absolute;
  top: 40px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 28px;
  height: 28px;
}

@media screen and (min-width: 768px) {
  .info-marks-wrap {
    top: 32px;
    right: 80px;

    width: 48px;
    height: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .info-marks-wrap {
    top: 32px;
    right: 64px;
  }
}

.info-marks-item {
}
